{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/mycss.css">
    <link rel="stylesheet" type="text/css" href="../static/css/download.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-latest.js"></script>
    <script src="../static/js/index.js"></script>

    <script type="text/javascript">

    </script>


    <title>About</title>
</head>
<body>
<div id="wrap">
    <div style="margin-top: 3%"></div>
    <div id="header">
        <div style="float:left;width: 100%;"><img id="header_image" src="../static/img/GXU2.png">
        </div>
    </div>
    <div id="navi">
        <ul id="coolMenu">
            <li class="func"><a href={% url 'index' %}><b>Home</b></a></li>
            <li class="func">
                <a href={% url 'browse' %}><b>Browse</b></a>

            </li>
            <li class="func">
                <a href={% url 'search' %}><b>Search</b></a>

            </li>

            <li class="func">
                <a href={% url 'download' %}><b>Download</b></a>

            </li>
            <li class="func active">
                <a href={% url 'about' %}><b>About</b></a>
            </li>
        </ul>
    </div>
</div>