{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" content="text/html">
    <script src="../static/js/jquery-latest.js"></script>
    <script src="../static/js/propper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/bootstrap-table.min.js"></script>
    <script src="../static/js/bootstrap-table-pagejump.js"></script>
    <script src="../static/js/browse.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/download.css">
    <link href="../static/css/bootstrap-table-pagejump.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/mycss.css">
    <link rel="shortcut icon" href="#"/>
    <title>Download</title>
    <style>
        .dropbtn {
            background-color: #82b13a;
            color: white;
            padding: 16px;
            font-size: 20px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            border-radius: 10px;
        }

        .dropdown-content {
            margin-top: 50%;
            z-index: 5;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 180px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            font-size: 20px;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #82b13a;
        }
        .td1{
            word-wrap:break-word;
            word-break:break-all;
        }
        li{
            list-style-type:disc;
        }
    </style>

</head>
<body>
<div id="wrap">
    <div style="margin-top: 3%"></div>
    <div id="header">
        <div style="float:left;width: 100%;"><img id="header_image" src="../static/img/GXU2.png">
        </div>
    </div>
    <div id="navi">
        <ul id="coolMenu">
            <li class="func"><a href={% url 'index' %}><b>Home</b></a></li>
            <li class="func">
                <div class="dropdown">
                    <a href="http://www.biobdlab.cn:8000/browse/circRNA-Cancer"><b>Browse</b></a>
                    <div class="dropdown-content">
                        <a style="width:100%;font-size: 15px" id="1" onclick="selectType()">circRNA-Cancer</a>
                        <a style="width:100%;font-size: 15px" id="2" onclick="selectType()">circRNA-miRNA</a>
                        <a style="width:100%;font-size: 15px" id="3" onclick="selectType()">miRNA-Cancer</a>
                        <script type="text/javascript">
                            function selectType() {
                                var pid = event.currentTarget.id;
                                switch (pid) {
                                    case '1':window.location.href='http://www.biobdlab.cn:8000/browse/circRNA-Cancer';break;
                                    case '2':window.location.href='http://www.biobdlab.cn:8000/browse/circRNA-miRNA';break;
                                    case '3':window.location.href='http://www.biobdlab.cn:8000/browse/miRNA-Cancer';break;
                                }
                            }
                        </script>
                    </div>
                </div>

            </li>
            <li class="func">
                <a href={% url 'search' %}><b>Search</b></a>

            </li>

            <li class="func active">
                <a href={% url 'download' %}><b>Download</b></a>

            </li>
            <li class="func">
                <a href={% url 'about' %}><b>About</b></a>
            </li>

        </ul>
    </div>
    <!-- search -->
    <div id="content2" style="border-radius: 20px;margin-top: 5px">
        <div class="welcome">
            <div class="" style="text-align:justify;font-size: 23px;">
                &nbsp;&nbsp;Welcome to use circR2Cancer. In order to provide the necessary assistance to the relevant
                staff, we have stored the relevant information in the database in the form of tables and made it
                available for
                everyone to download. Each table contains the following contents:
                <br>
                <ul style="margin-left: 20px">
                    <li>
                        circRNA-cancer association table, which contains circRNA name, the name of disease,
                        species,
                        functional describution,etc.
                    </li>
                    <li>
                        circRNA-miRNA association table, which includes the name of circRNA and miRNA.
                    </li>
                    <li>miRNA-cancer association table which contains miRNAs name, related disease, PMID and
                        functional describution.
                    </li>

                    <li>circRNA information table which involves circRNAs name, methods of circRNA
                        detection,
                        expression pattern, chromosome and region, etc.
                    </li>

                    <li>miRNA information table which contains miRNAs name, accession, symbol, description
                        and
                        gene family, etc.
                    </li>

                    <li>cancer information table which includes the name of disease, DOID definition,
                        Xrefs,
                        subsets, synonyms and relationships.
                    </li>
                </ul>
            </div>
        </div>
        <div id="table1" class="database-content1">
            <table id="tb1" class="table table-bordered">
                <tr>
                    <td>circRNA-Cancer</td>
                    <td>circRNA-Cancer association table</td>
                    <td><a style="color: #5bc0de" href="../static/table/circRNA-Cancer.xlsx"
                           download="circRNA-Cancer.xlsx">circRNA-Cancer.xlsx</a></td>
                </tr>

                <tr>
                    <td>circRNA-miRNA</td>
                    <td>circRNA-miRNA association table</td>
                    <td><a style="color: #5bc0de" href="../static/table/circRNA-miRNA.xlsx"
                           download="circRNA-miRNA.xlsx">circRNA-miRNA.xlsx</a></td>
                </tr>
                <tr>
                    <td>miRNA-Cancer</td>
                    <td>miRNA-Cancer association table</td>
                    <td><a style="color: #5bc0de" href="../static/table/miRNA-Cancer.xlsx"
                           download="miRNA-Cancer.xlsx">miRNA-Cancer.xlsx</a></td>
                </tr>
                <tr>
                    <td>circRNA_info</td>
                    <td>circRNA information table</td>
                    <td><a style="color: #5bc0de" href="../static/table/circRNA_info.xlsx"
                           download="circRNA_info.xlsx">circRNA_info.xlsx</a></td>
                </tr>
                <tr>
                    <td>miRNA_info</td>
                    <td>miRNA information table</td>
                    <td><a style="color: #5bc0de" href="../static/table/miRNA_info.xlsx" download="miRNA_info.xlsx">miRNA_info.xlsx</a>
                    </td>
                </tr>
                <tr>
                    <td>Cancer_info</td>
                    <td>Cancer information table</td>
                    <td><a style="color: #5bc0de" href="../static/table/Cancer_info.xlsx"
                           download="Cancer_info.xlsx">Cancer_info.xlsx</a></td>
                </tr>
            </table>

        </div>
        <div style="width: 100%;height: 50px"></div>
    </div>
    <div id="footer">
        <p style="font-size: 18px">Maintained by
            <a href="http://biobd.gxu.edu.cn"> Bioinformatics Research Group</a> – GuangXi University
        </p>
          <p style="font-size: 18px">
            ICP:桂ICP备19011548号-1
        </p>
    </div>
</div>
</body>
</html>



