<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/zwgk_new.css" />
<title>no</title>
</head>
<style>
*{ margin:0; padding:0;}
body{ color: #333; font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;}

table{table-layout:fixed;}
td{
	word-wrap:break-word;
}
</style>
<script language="javascript">
//假设Table的ID为angel
$("#angel tr").click(function(){
  $(this).addClass("hover").siblings("tr").removeClass("on");
});
</script>
<body>

<br/><br/><br/>
<center>
</center>
<h1> <--- ciick lift</h1>
<br/><br/><br/>

</body>
</html>