{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mycss.css">
    <link rel="stylesheet" href="../static/css/jquery.lightbox-0.5.css" media="screen">
    {#    <link rel="stylesheet" href="../static/css/bootstrap.min.css">#}
    <script src="../static/js/jquery-latest.js"></script>
    <script src="../static/js/jquery.lightbox-0.5.js"></script>

    <script src="../static/js/index.js"></script>

    <style>
        img {

        }
    </style>


    <title>Welcome to CirRNA</title>
</head>
<body>
<div id="wrap">
    <div style="margin-top: 3%"></div>
    <div id="header">
        <div style="float:left;width: 100%;"><img id="header_image" src="../static/img/GXU2.png">
        </div>
    </div>
    <div id="navi">
        <ul id="coolMenu">
            <li class="func active"><a href={% url 'index' %}><b>Home</b></a></li>
            <li class="func">
                <a href={% url 'browse' %}><b>Browse</b></a>
            </li>
            <li class="func">
                <a href={% url 'search' %}><b>Search</b></a>

            </li>

            <li class="func">
                <a href={% url 'download' %}><b>Download</b></a>

            </li>
            <li class="func">
                <a href={% url 'about' %}><b>About</b></a>
            </li>

        </ul>
    </div>
    <!-- search -->


    <div id="content" style="border-radius:20px;margin-top: 5px">
        <br/>

        <style type="text/css">

            #marquee {
                width: 255px;
                height: 100px;
                padding: 5px;
                border: none;
                margin-left: 38px;
                font-family: "Times New Roman", Times, serif;
            }

        </style>
        <div id="intro">
        </div>
        <div id="content2" style="height: auto;margin-top: 0px">
            <div class="welcome" style="word-wrap: break-word;text-align:justify;margin-top: -40px;font-size: 25px">
                &nbsp;&nbsp;Accumulating biological experimental results have shown that circRNA plays important roles
                in gene
                transcription, post-transcription and translational regulation. Therefore, abnormal expression of
                circRNA is associated with a group of cancers. Thus, it is of great importance to develop a high-quality
                database that stores dysregulated circRNAs in cancers. The circR2Cancer is a manually curated database
                that provides reliable associations between circRNAs and cancers. The current version of the
                circR2Cancer, which extracts 518 associations between 457 circRNAs and 43cancers by extracting data from
                human-related circRNAs and cancers in existing databases and literatures. In addition, this database
                also includes 477 circRNA-miRNA interactions and 422 miRNA-cancer relationships. This database contains
                cancers’ information from Disease Ontology database and basic biological information of circRNAs. At the
                same time, we offer users a simple friendly interface, making it convenient to browse, search and
                download new cancer-related circRNA. Moreover, the establishment of the circR2Cancer also provides
                convenience for studying the mechanism of cancer-related circRNA.
            </div>
        </div>
        <div id="home">
            <div id="home_left" style="width: 40%">
                <div id="home_image1" style="width: 100%;height:100%" onclick="enlarge1()">
                    <img style="width: 100%;height: 100%" href="../static/img/ineractions.png"
                         src="../static/img/ineractions.png">
                </div>
            </div>
            <script>
                function enlarge1() {
                    $('#home_image1 img').lightBox({
                        overlayBgColor: '#000',
                        imageLoading: '../static/img/ineractions.png',
                        imageBtnClose: '',
                        imageBtnPrev: '',
                        imageBtnNext: '',
                        imageBlank: '',
                        activeImage: 0,
                        containerBorderSize: 100,
                        containerResizeSpeed: 350,
                        overlayOpacity: 0.5
                    });
                }
            </script>
            <div id="home_right" style="width: 50%">
                <div id="home_right_image2" style="width: 100%;height:100%" onclick="enlarge2()">
                    <img style="width: 100%;height: 100%" href="../static/img/cirrna.png"
                         src="../static/img/cirrna.png">
                </div>
                <script>
                    function enlarge2() {
                        $('#home_right_image2 img').lightBox({
                            overlayBgColor: '#000',
                            imageLoading: '../static/img/cirrna.png',
                            imageBtnClose: '',
                            imageBtnPrev: '',
                            imageBtnNext: '',
                            imageBlank: '',
                            activeImage: 0,
                            containerBorderSize: 100,
                            containerResizeSpeed: 350,
                            overlayOpacity: 0.5
                        });
                    }
                </script>
            </div>
            <div style="width: 100%;height: 550px"></div>
        </div>

    </div>
    <div id="footer">
        <p>Maintained by
            <a href="http://biobd.gxu.edu.cn"> Bioinformatics Research Group</a> – GuangXi University
        </p>
    </div>
</div>
</body>
</html>

