{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script src="../static/js/jquery-latest.js"></script>
    <script src="../static/js/propper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/bootstrap-table.min.js"></script>
    <script src="../static/js/bootstrap-table-pagejump.js"></script>
    <script src="../static/js/browse.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/download.css">

    <link href="../static/css/bootstrap-table-pagejump.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/mycss.css">
    <link rel="shortcut icon" href="#"/>
    <style>
        .dropbtn {
            background-color: #82b13a;
            color: white;
            padding: 16px;
            font-size: 20px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            border-radius: 10px;
        }

        .dropdown-content {
            margin-top: 50%;
            z-index: 5;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 180px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            font-size: 20px;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #82b13a;
        }

        .td1 {
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js?2.9.1"></script>
    <style type="text/css">
        .link {
            stroke: green;
            stroke-linejoin: bevel;
        }

        .link2 {
            stroke: orange;
            stroke-linejoin: bevel;
        }

        .link3 {
            stroke: purple;
            stroke-linejoin: bevel;
        }

        .nodetext {

            font: 12px sans-serif;
            -webkit-user-select: none;
            -moze-user-select: none;
            stroke-linejoin: bevel;

        }

        #container {
            width: 750px;
            height: 600px;
            border: 1px solid gray;
            border-radius: 5px;
            position: relative;
            margin: 20px;
            float: left;
        }
    </style>
    <title>Search</title>
</head>
<body>
<div id="wrap">
    <div style="margin-top:3%"></div>
    <div id="header">
        <div style="float:left;width: 100%;"><img id="header_image" src="../static/img/GXU2.png">
        </div>
    </div>
    <div id="navi">
        <ul id="coolMenu">
            <li class="func"><a href={% url 'index' %}><b>Home</b></a></li>
            <li class="func">
                <div class="dropdown">
                    <a href="http://www.biobdlab.cn/browse/circRNA-Cancer"><b>Browse</b></a>
                    <div class="dropdown-content">
                        <a style="width:100%;font-size: 15px" id="1" onclick="selectType()">circRNA-Cancer</a>
                        <a style="width:100%;font-size: 15px" id="2" onclick="selectType()">circRNA-miRNA</a>
                        <a style="width:100%;font-size: 15px" id="3" onclick="selectType()">miRNA-Cancer</a>
                        <script type="text/javascript">
                            function selectType() {
                                var pid = event.currentTarget.id;
                                switch (pid) {
                                    case '1':
                                        window.location.href = 'http://www.biobdlab.cn/browse/circRNA-Cancer';
                                        break;
                                    case '2':
                                        window.location.href = 'http://www.biobdlab.cn/browse/circRNA-miRNA';
                                        break;
                                    case '3':
                                        window.location.href = 'http://www.biobdlab.cn/browse/miRNA-Cancer';
                                        break;
                                }
                            }
                        </script>
                    </div>
                </div>

            </li>
            <li class="func active">
                <a href={% url 'search' %}><b>Search</b></a>

            </li>

            <li class="func">
                <a href={% url 'download' %}><b>Download</b></a>

            </li>
            <li class="func">
                <a href={% url 'about' %}><b>About</b></a>
            </li>


        </ul>
    </div>
    <!-- search -->

    <div id="content" style="min-height: 90px;margin-top: 5px">
        <br>
        <form action="/search" method="get">
            <b style="margin-left: 5%;font-size: 20px;color: gray">Type &nbsp;</b>
            <select id="search-type" name="search-type" style="font-size: 20px">

                {% if search_type == 'Cancer' %}
                    <option>circRNA</option>
                    <option>miRNA</option>
                    <option selected="selected">Cancer</option>
                {% elif search_type == 'miRNA' %}
                    <option>circRNA</option>
                    <option selected="selected">miRNA</option>
                    <option>Cancer</option>
                {% else %}
                    <option selected="selected">circRNA</option>
                    <option>miRNA</option>
                    <option>Cancer</option>
                {% endif %}

            </select>
            <b style="font-size: 20px;margin-left: 5%;color: gray">Content&nbsp;&nbsp;
            </b>
            <input id="text" type="text" name="search-content" value="{{ search_content | default:'' }}"
                   style="width: 400px;font-size: 20px"/>
            <input type="button" onclick="myexample()" style="margin-left: 3%" value="Example">
            <input type="submit" style="margin-left: 3%" value="Search">
            <script>
                function myexample() {
                    var type = document.getElementById('search-type');
                    var text = document.getElementById('text');
                    type.value = 'circRNA';
                    text.value = 'circ-Foxo3';
                }
            </script>
        </form>
    </div>
    <div id="content" style="height: auto;margin-top: 5px">
        {% if flag1 == 'ok' %}
            <div id="content2" style="height: auto;">
                <div id="table1" class="{{ Cir1 |default:'content2' }}">
                    <h2 style="color: gray">circRNA-Cancer</h2>
                    <table class="database-table" id="database-table1">
                        {% for cir in circrna_cancer %}
                            <tr>
                                <td>{{ cir.circRNA }}</td>
                                <td>{{ cir.disease }}</td>
                                <td><a style="color: #5bc0de"
                                       href="http://47.97.26.170/detail?value=1&{{ cir.circRNA }}&{{ cir.disease }}&{{ cir.pmid }}&{{ cir.functional_describution }}">detail</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <script type="text/javascript">
                        //没有请求,自己写50条数据
                        $('#database-table1').bootstrapTable({
                            smartDisplay: false,
                            search: true,
                            pagination: true,
                            pageSize: 10,
                            pageNumber: 1,
                            paginationShowPageGo: true,
                            pageList: [5, 10, 15, 20],
                            sidePagination: 'client',
                            paginationFirstText: "first",
                            paginationPreText: "previous page",
                            paginationNextText: "next page",
                            paginationLastText: "last",
                            iconSize: 'pager',
                            columns: [
                                {
                                    field: "circRNA",
                                    title: "circRNA",
                                    align: "center",
                                    valign: "middle",
                                    sortable: false
                                },

                                {
                                    field: "disease",
                                    title: "Cancer",
                                    align: "center",
                                    valign: "middle",
                                    sortable: false
                                },
                                {field: "detail", title: "detail", align: "center", valign: "middle", sortable: false}
                            ],
                        });
                    </script>
                </div>
            </div>

            <div id="content2" style="height: auto">

                <div id="table2" class="{{ Cir2 | default:'content2' }}">
                    <h2 style="color: gray">circRNA-miRNA</h2>
                    <table id="database-table2">

                        {% for cir in circrna_mirna %}
                            <tr>
                                <td>{{ cir.circRNA }}</td>
                                <td>{{ cir.miRNA }}</td>
                                <td><a style="color: #5bc0de"
                                       href="http://47.97.26.170/detail?value=2&{{ cir.circRNA }}&{{ cir.miRNA }}">detail</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <script type="text/javascript">

                        $('#database-table2').bootstrapTable({
                            search: true,
                            smartDisplay: false,
                            pagination: true,
                            pageSize: 10,
                            pageNumber: 1,
                            pageList: [5, 10, 15, 20],
                            paginationShowPageGo: true,
                            sidePagination: 'client',
                            paginationFirstText: "first page",
                            paginationPreText: "previous page",
                            paginationNextText: "next page",
                            paginationLastText: "last page",
                            iconSize: 'pager',
                            columns: [{
                                field: "circRNA",
                                title: "circRNA",
                                align: "center",
                                valign: "middle",
                                sortable: false
                            },
                                {
                                    field: "miRNA",
                                    title: "miRNA",
                                    align: "center",
                                    valign: "middle",
                                    sortable: false
                                },
                                {field: "detail", title: "detail", align: "center", valign: "middle", sortable: false}]
                        });
                    </script>
                </div>
            </div>

            <div id="content2" style="height: auto">
                <div id="table3" class="{{ Cir3 }}">
                    <h2 style="color: gray">miRNA-Cancer</h2>
                    <table id="database-table3">
                        {% for cir in mirna_cancer %}
                            <tr>
                                <td>{{ cir.miRNA }}</td>
                                <td>{{ cir.disease }}</td>

                                <td><a style="color: #5bc0de;"
                                       href="http://47.97.26.170/detail?value=3&{{ cir.miRNA }}&{{ cir.disease }}&{{ cir.pmid }}&{{ cir.description }}">detail</a>
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                    <script type="text/javascript">
                        //没有请求,自己写50条数据
                        {#var datas  = [];#}
                        {#for(var i=0;i<50;i++){#}
                        {#    datas[i]={"name":i+"号","age":i+"岁"}#}
                        $('#database-table3').bootstrapTable({
                            search: true,
                            pagination: true,
                            smartDisplay: false,
                            pageSize: 10,
                            pageNumber: 1,
                            pageList: [5, 10, 15, 20],
                            paginationShowPageGo: true,
                            sidePagination: 'client',
                            paginationFirstText: "first page",
                            paginationPreText: "previous page",
                            paginationNextText: "next page",
                            paginationLastText: "last page",
                            iconSize: 'pager',
                            columns: [
                                {field: "miRNA", title: "miRNA", align: "center", valign: "middle", sortable: false},
                                {
                                    field: "disease",
                                    title: "Cancer",
                                    align: "center",
                                    valign: "middle",
                                    sortable: false
                                },
                                {field: "Detail", title: "Detail", align: "center", valign: "middle", sortable: false}
                            ],

                        });
                    </script>
                </div>
            </div>
        {% elif flag1 == 'err' %}
            <canvas id="myCanvas" width="200" height="100">
            </canvas>
            <script type="text/javascript">
                var canvas = document.getElementById("myCanvas");
                alert("illegal character!");
            </script>
        {% else %}
            <canvas id="myCanvas" width="200" height="100">
            </canvas>
            <script type="text/javascript">
                var canvas = document.getElementById("myCanvas");
                alert("Search content cannot be empty, please enter search content!");
            </script>
        {% endif %}
    </div>
    <div id="content">
        <div class="{{ picFlag }}">
            <div id='container'></div>
            <div style="width: 300px;height: 250px;position:relative;float: left;margin: 20px;">
                <img style="width: 100%;height:100% " src="../static/img/pictureLabel.png">
            </div>
            <script type="text/javascript">

                function Topology(ele) {
                    typeof(ele) == 'string' && (ele = document.getElementById(ele));
                    var w = ele.clientWidth,
                        h = ele.clientHeight,
                        self = this;
                    this.force = d3.layout.force().gravity(.07).distance(200).charge(-800).size([w, h]);
                    this.nodes = this.force.nodes();
                    this.links = this.force.links();
                    this.clickFn = function () {
                    };
                    this.vis = d3.select(ele).append("svg:svg")
                        .attr("width", w).attr("height", h).attr("pointer-events", "all");

                    this.force.on("tick", function (x) {
                        self.vis.selectAll("g.node")
                            .attr("transform", function (d) {
                                return "translate(" + d.x + "," + d.y + ")";
                            });

                        self.vis.selectAll("line.link")
                            .attr("x1", function (d) {
                                return d.source.x;
                            })
                            .attr("y1", function (d) {
                                return d.source.y;
                            })
                            .attr("x2", function (d) {
                                return d.target.x;
                            })
                            .attr("y2", function (d) {
                                return d.target.y;
                            });
                    });
                }


                Topology.prototype.doZoom = function () {
                    d3.select(this).select('g').attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")");

                }


                //增加节点
                Topology.prototype.addNode = function (node) {
                    this.nodes.push(node);
                }

                Topology.prototype.addNodes = function (nodes) {
                    if (Object.prototype.toString.call(nodes) == '[object Array]') {
                        var self = this;
                        nodes.forEach(function (node) {
                            self.addNode(node);
                        });

                    }
                }


                //增加连线
                Topology.prototype.addLink = function (source, target) {
                    this.links.push({source: this.findNode(source), target: this.findNode(target)});
                }

                //增加多个连线
                Topology.prototype.addLinks = function (links) {
                    if (Object.prototype.toString.call(links) == '[object Array]') {
                        var self = this;
                        links.forEach(function (link) {
                            self.addLink(link['source'], link['target']);
                        });
                    }
                }


                //删除节点
                Topology.prototype.removeNode = function (id) {
                    var i = 0,
                        n = this.findNode(id),
                        links = this.links;
                    while (i < links.length) {
                        links[i]['source'] == n || links[i]['target'] == n ? links.splice(i, 1) : ++i;
                    }
                    this.nodes.splice(this.findNodeIndex(id), 1);
                }

                //删除节点下的子节点，同时清除link信息
                Topology.prototype.removeChildNodes = function (id) {
                    var node = this.findNode(id),
                        nodes = this.nodes;
                    links = this.links,
                        self = this;

                    var linksToDelete = [],
                        childNodes = [];

                    links.forEach(function (link, index) {
                        link['source'] == node
                        && linksToDelete.push(index)
                        && childNodes.push(link['target']);
                    });

                    linksToDelete.reverse().forEach(function (index) {
                        links.splice(index, 1);
                    });

                    var remove = function (node) {
                        var length = links.length;
                        for (var i = length - 1; i >= 0; i--) {
                            if (links[i]['source'] == node) {
                                var target = links[i]['target'];
                                links.splice(i, 1);
                                nodes.splice(self.findNodeIndex(node.id), 1);
                                remove(target);

                            }
                        }
                    }

                    childNodes.forEach(function (node) {
                        remove(node);
                    });

                    //清除没有连线的节点
                    for (var i = nodes.length - 1; i >= 0; i--) {
                        var haveFoundNode = false;
                        for (var j = 0, l = links.length; j &lt; j++) {
                            (links[j]['source'] == nodes[i] || links[j]['target'] == nodes[i]) && (haveFoundNode = true)
                        }
                        !haveFoundNode && nodes.splice(i, 1);
                    }
                }


                //查找节点
                Topology.prototype.findNode = function (id) {
                    var nodes = this.nodes;
                    for (var i in nodes) {
                        if (nodes[i]['id'] == id) return nodes[i];
                    }
                    return null;
                }


                //查找节点所在索引号
                Topology.prototype.findNodeIndex = function (id) {
                    var nodes = this.nodes;
                    for (var i in nodes) {
                        if (nodes[i]['id'] == id) return i;
                    }
                    return -1;
                }

                //节点点击事件
                Topology.prototype.setNodeClickFn = function (callback) {
                    this.clickFn = callback;
                }

                //更新拓扑图状态信息
                Topology.prototype.update = function () {
                    var link = this.vis.selectAll("line.link")
                        .data(this.links, function (d) {
                            return d.source.id + "-" + d.target.id;
                        })
                        .attr("class", function (d) {
                            if((d['source']['status'] == 0 && d['target']['status']==1)||(d['source']['status'] == 1 && d['target']['status']==0)){
                                return 'link'
                            }
                            else if((d['source']['status'] == 0 && d['target']['status']==2)||(d['source']['status'] == 2 && d['target']['status']==0)) {
                                return 'link link2';
                            }
                            else{
                                return 'link link3'
                            }
                        });

                    link.enter().insert("svg:line", "g.node")
                        .attr("class", function (d) {
                            if((d['source']['status'] == 0 && d['target']['status']==1)||(d['source']['status'] == 1 && d['target']['status']==0)){
                                return 'link'
                            }
                            else if((d['source']['status'] == 0 && d['target']['status']==2)||(d['source']['status'] == 2 && d['target']['status']==0)) {
                                return 'link link2';
                            }
                            else{
                                return 'link link3'
                            }
                        });

                    link.exit().remove();

                    var node = this.vis.selectAll("g.node")
                        .data(this.nodes, function (d) {
                            return d.id;
                        });

                    var nodeEnter = node.enter().append("svg:g")
                        .attr("class", "node")
                        .call(this.force.drag);

                    //增加图片，可以根据需要来修改
                    var self = this;
                    nodeEnter.append("svg:image")
                        .attr("class", "circle")
                        .attr("xlink:href", function (d) {
                            //根据类型来使用图片
                            if (d.status == 0) {
                                return "../static/img/circRNA.png";
                            }
                            else if (d.status == 1) {
                                return "../static/img/miRNA.png";
                            }
                            else {
                                return "../static/img/cancer.png";
                            }
                        })
                        .attr("x", "-16px")
                        .attr("y", "-16px")
                        .attr("width", "32px")
                        .attr("height", "32px")
                        .on('click', function (d) {
                            d.expand && self.clickFn(d);
                        })

                    nodeEnter.append("svg:text")
                        .attr("class", "nodetext")
                        .attr("dx", 15)
                        .attr("dy", -35)
                        .text(function (d) {
                            return d.id
                        });


                    node.exit().remove();

                    this.force.start();
                }


                var topology = new Topology('container');
                var search_content = '{{ search_content }}';
                var search_type = '{{ search_type }}';
                var nodes = [
                    {% if search_type == 'circRNA' %}
                        {id: search_content, type: 'switch', status: 0},
                        {% for cir in circrna_mirna %}
                            {id: '{{ cir.miRNA }}', type: 'switch', status: 1},
                        {% endfor %}
                        {% for cir in circrna_cancer %}
                            {id: '{{ cir.disease }}', type: 'switch', status: 2},
                        {% endfor %}
                    {% elif search_type == 'miRNA' %}
                        {id: search_content, type: 'switch', status: 1},
                        {% for cir in circrna_mirna %}
                            {id: '{{ cir.circRNA }}', type: 'switch', status: 0},
                        {% endfor %}
                        {% for cir in mirna_cancer %}
                            {id: '{{ cir.disease }}', type: 'switch', status: 2},
                        {% endfor %}
                    {% else %}
                        {id: search_content, type: 'switch', status: 2},
                        {% for cir in circrna_cancer %}
                            {id: '{{ cir.circRNA }}', type: 'switch', status: 0},
                        {% endfor %}
                        {% for cir in mirna_cancer %}
                            {id: '{{ cir.miRNA }}', type: 'switch', status: 1},
                        {% endfor %}
                    {% endif %}


                ];
                var links = [
                    {% if search_type == 'circRNA' %}
                        {% for cir in circrna_mirna %}
                            {source: '{{ cir.miRNA }}', target: search_content},
                        {% endfor %}
                        {% for cir in circrna_cancer %}
                            {source: '{{ cir.disease }}', target: search_content},
                        {% endfor %}
                    {% elif search_type == 'miRNA' %}
                        {% for cir in circrna_mirna %}
                            {source: '{{ cir.circRNA }}', target: search_content},
                        {% endfor %}
                        {% for cir in mirna_cancer %}
                            {source: '{{ cir.disease }}', target: search_content},
                        {% endfor %}
                    {% else %}
                        {% for cir in circrna_cancer %}
                            {source: '{{ cir.circRNA }}', target: search_content},
                        {% endfor %}
                        {% for cir in mirna_cancer %}
                            {source: '{{ cir.miRNA }}', target: search_content},
                        {% endfor %}
                    {% endif %}

                ];


                var childNodes = [];


                var childLinks = [];


                topology.addNodes(nodes);
                topology.addLinks(links);
                //可展开节点的点击事件
                topology.setNodeClickFn(function (node) {
                    if (!node['_expanded']) {
                        expandNode(node.id);
                        node['_expanded'] = true;
                    } else {
                        collapseNode(node.id);
                        node['_expanded'] = false;
                    }
                });
                topology.update();


                function expandNode(id) {
                    topology.addNodes(childNodes);
                    topology.addLinks(childLinks);
                    topology.update();
                }

                function collapseNode(id) {
                    topology.removeChildNodes(id);
                    topology.update();
                }

            </script>
        </div>
    </div>
    <div id="footer">
        <p style="font-size: 18px">Maintained by
            <a href="http://biobd.gxu.edu.cn"> Bioinformatics Research Group</a> – GuangXi University
        </p>
        <a href="http://www.beian.miit.gov.cn" style="font-size: 18px">
            ICP:桂ICP备19011548号-1
        </a>
    </div>

</div>
</body>
</html>



